{% load static %}
<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mx-auto">
        <li class="nav-item mx-2">
            <a class="nav-link
                      {% if page_title == 'I' %}
                          active
                      {% endif %}"
               href="{% url 'home' %}"><i class="bi bi-house-door me-1"></i>الرئيسية</a>
        </li>
        <li class="nav-item mx-2">
            <a class="nav-link
                      {% if page_title == 'O' %}
                          active
                      {% endif %}"
               href="{% url 'warehouse_inventory' %}"><i class="bi bi-person-bounding-box"></i> الأصناف</a>
        </li>
        <li class="nav-item mx-2">
            <a class="nav-link
                      {% if page_title == 'O' %}
                          active
                      {% endif %}"
               href="{% url 'employee_custody' %}"><i class="bi bi-person-bounding-box"></i> أصحاب العهد</a>
        </li>
    </ul>
</div>
