{% load static %}
<!-- In your main template -->
<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mx-auto">
        <li class="nav-item mx-1">
            <a class="nav-link
                      {% if page_title == 'I' %}
                          active
                      {% endif %}"
               href="{% url 'home' %}">
                <i class="bi bi-house-door me-1"></i>الرئيسية
            </a>
        </li>
        {% include "partials/_definitions.html" %}
        {% include "partials/_documents.html" %}
        <li class="nav-item mx-1">
            <a class="nav-link
                      {% if page_title == 'O' %}
                          active
                      {% endif %}"
               href="{% url 'transaction_list' %}">
                <i class="bi bi-file-earmark-text me-1"></i> الأذون
            </a>
        </li>
        {% include "partials/_items.html" %}
        {% include "partials/_employees.html" %}
    </ul>
</div>
