<div class="theme-dropdown dropdown me-1">
    <a class="theme-switcher dropdown-toggle d-flex align-items-center"
       href="#"
       role="button"
       data-bs-toggle="dropdown"
       aria-expanded="false">
        <i class="bi bi-moon me-1"></i>
        <span class="d-none d-xxl-inline"></span>
    </a>
    <ul class="dropdown-menu">
        <li>
            <a class="dropdown-item theme-option" href="#" data-theme="light">
                <i class="bi bi-brightness-high me-2"></i>
                Light
            </a>
        </li>
        <li>
            <a class="dropdown-item theme-option" href="#" data-theme="dark">
                <i class="bi bi-moon me-2"></i>
                Dark
            </a>
        </li>
        <li>
            <a class="dropdown-item theme-option" href="#" data-theme="system">
                <i class="bi bi-laptop me-2"></i>
                System
            </a>
        </li>
    </ul>
</div>
